.contentheader{
    display: flex;
    background-color: $color1;
    color: $color2;
}
.topo{
    padding-left: 3vw;
    padding-top: 3vh;
    display: flex;
    flex-direction: row;
    gap: 38vw;
    height:10vh ;

    img{
        width: 150px;
        height: 43px;
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 10vw;
      }
}

.lista{
    font-size: 0.8rem;
    right: 0;

    a:hover{
        font-weight: 700;
        transition: 0.3s linear;
    }
}